<extend name="Public/base"/>
<block name='css'>
<link href="__CSS__/video-js.min.css" rel="stylesheet">
</block>


<block name="body">


<div style="margin-left:100px;margin-top:25px;">
 <video id="example-video"   class="video-player col-lg-9 video-js vjs-default-skin" controls>
                        <source src="__PUBLIC__/Home{$video}" type="application/x-mpegURL" >
</video>

<form id='form' action='{:U("Video/view")}' method='post'>
  <input name='type' id='type' type='hidden' value='' />
  <input name='other' id='other' type='hidden' value='' />  
  <input name='id'   id='id' type='hidden' value='{$id}' />
</form>
</div>


</block>

<block name="script">
    <script src="__JS__/video.min.js"></script>
    <script src="__JS__/videojs-contrib-hls.js"></script>
    <script>



        //播放器实例
        var player = videojs('example-video',{

          "controls": true,
          "autoplay": false,
          "preload": "auto",
          "loop": false,
          controlBar: {
            volumeMenuButton: {
            inline: false,
            vertical: true
            },//竖着的音量条
          }
        });


        player.currentTime({$time});

        
        function playerInitVideo() {
            videoPanelMenu = $(".vjs-fullscreen-control");
            str='<div class="dropup" style="position:relative;"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:5px;">清晰度</button><ul class="dropdown-menu" aria-labelledby="dropdownMenu2" position:absolute;z-index:99; style="min-width:70px;background:white; color:red;">{$num}</ul></div>';
            videoPanelMenu.before(''+ ''+ ''+ str);
            $('li').click(function(){
              time=parseInt(player.currentTime());
              if($(this).children('a').text()=='全高清'){
                $("#type").val('2');
                $("#other").val(time);
                $("#form").submit();
              }

              if($(this).children('a').text()=='高清'){
                $("#type").val('1');
                $("#other").val(time);
                $("#form").submit();
              }

              if($(this).children('a').text()=='标清'){
                $("#type").val('0');
                $("#other").val(time);
                $("#form").submit();
              }

            })
        }
        //加载页面进行播放器初始化
        //
        player.ready(function() {playerInitVideo()});



        //player.play();
        




    </script>

</block>